@model MVCPAP.Models.User
@{
    Layout = "~/Views/Shared/NavBar.cshtml";
}
<style>

    input {
        margin: auto;
        margin-top: 10px;
        width: 50%;
        display: block;
    }

    #password {
        width: auto;
    }

    #email {
        width: auto;
    }

    .loginbtn {
        color: #28a745;
        background-color: #f5f5f5;
    }

    .divLogin {
        /*margin: auto;*/
        width: 50%;
        padding: 25px;
        position: relative;
        margin-top: 50px;
        left: 35%;
        display: flex;
    }
</style>

<script>

</script>

<div class="divLogin">

    @using (Html.BeginForm("Autherize", "Login", FormMethod.Post))
    {

        <h2 class="m-auto align-content-center"> Log in </h2>
        @*@Html.LabelFor(model => model.email)*@
        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
        @Html.ValidationMessageFor(model => model.email)

        @*@Html.LabelFor(model => model.password)*@
        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password", @type = "password" } })
        @Html.ValidationMessageFor(model => model.password)

        <input type="submit" name="name" class="btn btn-success loginbtn" value="Log in" />
        @Html.DisplayFor(model => model.LoginErrorMessage)

        <br />
        <br />

        @Html.ActionLink("Create an account here", "SigninPage","Login","style='color:black;' ")
    }


</div>


