@{
    Layout = "~/Views/Shared/NavBar.cshtml";
}
<link href="~/Content/Formats.css" rel="stylesheet" />
<script src="~/Scripts/ComunScripts.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<div class="jumbotron">

    <h1>Search for @ViewBag.Search</h1>


    @foreach (var item in ViewBag.Videos)
    {
        <div class="row videothumbnailddiv">

            <div class="col">
                <img id="h_@item.id" src="~/images/@item.thumbnail" class="thumbnail insideTN" width="256" height="144" alt="Thumbnail" />

            </div>

            <div class="col">
                <div class="row videotitle insideTN h-50">
                    <span id="t_@item.id">@item.title</span>
                </div>
                <div class="row h-50">
                    <span id="@item.discriminator-@item.username" class="VideoAuthor">@item.discriminator#@item.username</span>
                </div>
            </div>

        </div>
    }

    <span id="Page">@ViewBag.page</span>

</div>
