<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nome - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script>
        $(function () {

            $("myForm").ready(function () {

            });

            function keypressHandler(e) {
                if (e.which == 13) {
                    e.preventDefault();
                    $(this).blur();
                    $('#ButtonS').focus().click();
                }
            }

            $('#myForm').keypress(keypressHandler);

            $("#ButtonS").click(function () {
                let Search = $("#Search").val();
                if (Search && Search != "")
                    window.location.assign("../../../Home/Search/" + Search)
            });
        });
    </script>
    <style>
        body {
            padding-top: 0px;
        }

        .searchDiv {
        }

        .searchButton {
            font-size: 1.2em;
            color: white;
            vertical-align: central;
            text-align: center;
            float: left;
            margin: auto;
            margin-left: 10px;
        }

            .searchButton:hover {
                cursor: pointer;
            }

        #buttonLogin {
        }

        .loginlink {
            text-decoration: none;
            color: black;
            margin-right:20px;
        }

            .loginlink:hover {
                text-decoration: none;
                color: #505050;
            }
    </style>
</head>
<body>
    <div id="myForm">
        <div class="navbar navbar-dark fixed-top" style="background-color:gray;">
            @Html.ActionLink("Nome", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <div class="row w-50">

                <input type="text" id="Search" name="Search" value="" placeholder="Search" class="form-control form-control-sm text-dark mr-0 w-75" style="margin:auto" />
                <p id="ButtonS" class="searchButton">Search</p>
            </div>

            <div class="row">
                @Html.ActionLink("Log in", "index", "Login", new { mode="login" }, new { @class = "loginlink" })
                @Html.ActionLink("Sign in", "index", "Login",  new { mode="signin" }, new { @class = "loginlink" })
            </div>


        </div>
        <div class="container mt-5 pt-3">
            @RenderBody()
        </div>
    </div>
</body>
</html>
